body {
    padding: 20px;
    background-color: rgb(34,46,59);;
color: #fff;
font-family:Roboto, sans-serif !important;
}
.card {
    border:0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(43, 58, 74);
    background-clip: border-box;
    border-radius: .25rem;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    transition: all 0.5s ease;
}
.logo1 {
    background-image: url('./coin1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    background-position-y: 50%;
    background-color: #151515;
}
.logo2 {
    background-image: url('./coin2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    background-position-y: 50%;
    background-color: #151515;
}

.card-body{
  padding: 0;
}
.card-header {
    border: 0px;
    color: black;
  color: #f9f9f9;
background: #3e4451;
font-weight: 900;
  }
  .card-footer {
    border: 0px;
      background-color: #3e4451;
}
.btn.btn-success {
    background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
    border: 0;
    border-radius: 2px;
    padding: 8px 15px;
    font-size: 15px;
    box-shadow: 2px 2px 4px #131313;
}
